@reference 'tailwindcss';

:host {
  display: block;
  height: 100%;
  position: relative;

  emr-sidebar-header {
    --emr-sidebar-header-padding: 0 --spacing(2) 0 --spacing(8);
  }

  emr-sidebar-body {
    --emr-sidebar-body-padding: 0 --spacing(3);
  }

  emr-sidebar-footer {
    --emr-sidebar-footer-padding: 0 --spacing(3) --spacing(4) --spacing(3);
  }

  emr-sidebar-nav {
    --emr-sidebar-nav-item-border-radius: 14px;
    --emr-sidebar-nav-item-height: 44px;
  }

  emr-sidebar-nav-divider {
    --emr-sidebar-nav-divider-margin: --spacing(6) --spacing(5);
  }
}
